<div class="w-100">

  <div class="fond row p-5" style=<%= !@flat.picture_url ? "background-color:grey" : "background-color:transparent" %>>
  <img src=<%= @flat.picture_url %>>

      <div class="empty-head"></div>

    <div class="container col-8">
      <div class="bg-light border p-2 rounded">
        <h2><%= @flat.name %></h2>
        <p><%= @flat.address %></p>
      </div>

      <div class="bg-light border p-2 mt-2 rounded">
        <h2>A bit more about this flat...</h2>
        <p><%= @flat.description %></p>
      </div>

      <div class="bg-light border p-2 mt-2 rounded">
        <h2>More details</h2>
        <p>Number of persons : <%= @flat.number_of_guests %></p>
        <p>Price per night : <%= @flat.price_per_night %></p>
        <p><%= @flat.picture_url %></p>
      </div>

    </div>

    <div class="col-4">
      <div class="bg-light border p-2 rounded">
        <h5>Book this place !</h5>
        <p>SOME FIELD</p>
        <p>SOME FIELD</p>
        <button class="btn btn-success w-100">BOOK</button>
      </div>
    </div>
  </div>
</div>
